<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  </head>
  <body >
  <div class="container-fluid" >
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show text-center" role="alert">
        <strong>Message: </strong> {{ message }}
      </div>
      {% endfor %}
      
      </ul>
      
    {% endif %}



    <nav class="navbar navbar-expand-lg navbar-light ">
      <h4>Hello, {{ user.username|default:'Guest' }}! </h4>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <h4><a class="nav-link" href="{% url 'user'%} ">Home <span class="sr-only"></span></a></h4>
        </li>
    
      {% if user.is_authenticated %}
        <li class="nav-item active">
            <h4><a class="nav-link" href="{% url 'profile'%} ">Profile <span class="sr-only"></span></a></h4>
        </li>
        <li class="nav-item active">
            <h4><a class="nav-link" href="{% url 'logout'%} ">Logout <span class="sr-only"></span></a></h4>
        </li>
        <li class="nav-item">
            <h4><a class="nav-link" href="{% url 'cart'%}">Cart</a></h4>
        </li>
        <li class="nav-item">
            <h4><a class="nav-link" href="{% url 'order'%}">Order</a></h4>
        </li>
        </ul>
      </div>
      {% else %}
        <li class="nav-item active">
            <h4><a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only"></span></a></h4>
        </li>
        <li class="nav-item">
            <h4><a class="nav-link" href="{% url 'register' %}">Register</a></h4>
        </li>
        </ul>
      </div>
      {% endif %}
  
    </nav>

    <br>
    {% block content %} 
    {% endblock %}

  </div>
  </body>
</html>