{% extends 'user/base.html' %}
{% block content %}
{% load static %}

{% if present == 0 %}
    <h2 class = " d-flex justify-content-center align-items-center">No cart available</h2>

{% else %}

            <div class="card-group">
                {% for employee in employees %}
                <div class="col" >
                    <div class="card" style="width: 20rem; background-color:#dee2e6;">
                        
                        <img class="card-img-top" style="margin-left: auto;margin-right: auto; width:10vw; height: 20vh"src = "{% static employee.image %}" style="width: 20%; height:10vw;" alt="Card image cap">    
                        
                        <div class="card-body">
                            <h4> Name : {{employee.name}}</h4>
                            <h4> Price : {{employee.cost}} Rs.</h4>
                            <h4> Rating : {{employee.rating}} / 5</h4>
                            <h4> Work : {{employee.work}} </h4>
                            <h4> Description : {{employee.description}}</h4>
                            <h4> Address : {{employee.address}}</h4>
                            <button type="button" class="btn btn-primary"> <a href = "{% url 'checkout' order_pk=employee.dataID %}" style = "text-decoration: none; color:white" >Order</a> </button>
                            <button type="button" class="btn btn-primary"> <a href = "{% url 'remove' order_pk=employee.dataID %}" style = "text-decoration: none; color:white" >Remove</a> </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

<button type="button" class="btn btn-primary"> <a href = "{% url 'checkout' order_pk=1 user_pk=user_id %}" style = "text-decoration: none; color:white" >Order All</a> </button>

{% endif %}



{% endblock %}