{% extends 'user/base.html' %}
{% block content %}


<div class="card" style="background-color:#dee2e6;">
        <div class="card-header d-flex justify-content-center align-items-center" >
            Categorys
        </div>
        <div class="card-block" >
            <div class="row">
                {% for category in categorys %}
                    <div class="col-md-2  d-flex justify-content-center align-items-center" style="width: 20%; height:10vw; ">
                        <h4><a href = "{% url 'service' servicepk=serviceid categorypk=category.id%}" style ="text-decoration: none;">{{category.category}}</a></h4>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>


{% endblock %}