{% extends 'user/base.html' %}
{% block content %}
{% load static %}


<div class="card">
        <div class="card-block" >
            <div class="row">
                {% for employee in employees %}
                    <div>
                    <img class="card-img-top" src = "{% static employee.image %}" style="width: 20%; height:10vw;" alt="Card image cap">    
                    <div>
                    <h2> Name : {{employee.name}}</h2>
                    <h2> Price : {{employee.cost}} Rs.</h2>
                    <h2> Rating : {{employee.rating}} / 5</h2>
                    <h2> Description : {{employee.description}}</h2>
                    <br><br>
                {% endfor %}
            </div>
        </div>
</div>



{% endblock %}