{% extends 'user/base.html' %}
{% block content %}

<html>
    <head>
        <style>
            .center_div{
                margin: 0 auto;
                width:80% /* value of your choice which suits your alignment */
            }
        </style>
    </head>
    <body>
        <br>
        <div class="container center_div">
            <h2>Name : {{profile.user.username}}<h2>
            <h2>Email : {{profile.user.email}}<h2>
            <h2>Address : {{profile.address}}<h2>

    </div>

    </body>


{% endblock %}
