{% extends 'user/base.html' %}
{% block content %}
{% load static %}

<h2 class = " d-flex justify-content-center align-items-center">  {{cat}}   <h2>

{% if categorypk %}
    <button type="button" class="btn btn-primary"> <a href = "{% url 'add_emp' servicepk=servicepk categorypk=categorypk %}" style = "text-decoration: none; color:red" >Add as employee</a> </button>
{% else %}
    <button type="button" class="btn btn-primary"> <a href = "{% url 'add_emp' servicepk=servicepk %}" style = "text-decoration: none; color:red" >Add as employee</a> </button>
{% endif %}

{% if emp_present == 0 %}
    <h2>No employee available</h2>

{% else %}
<div class="card">
        <div class="card-block" >
            <div class="row">
                {% for employee in employees %}
                    <div>
                    <img class="card-img-top" src = "{% static employee.image %}" style="width: 20%; height:10vw;" alt="Card image cap">    
                    <div>
                    <h2> Name : {{employee.name}}</h2>
                    <h2> Price : {{employee.cost}} Rs.</h2>
                    <h2> Rating : {{employee.rating}} / 5</h2>
                    <h2> Description : {{employee.description}}</h2>
                    <h2> Address : {{employee.address}}</h2>
                    {% if categorypk %}
                        <button type="button" class="btn btn-primary"> <a href = "{% url 'addcart' emp_pk=employee.id servicepk=servicepk categorypk=categorypk %}" style = "text-decoration: none; color:red" >Add to cart</a> </button>
                    {% else %}
                        <button type="button" class="btn btn-primary"> <a href = "{% url 'addcart' emp_pk=employee.id servicepk=servicepk %}" style = "text-decoration: none; color:red" >Add to cart</a> </button>
                    {% endif %}
                    <br><br>
                {% endfor %}
            </div>
        </div>
</div>
{% endif %}



  


{% endblock %}